#mm, footer {
    text-align:center;
}

#nav ul li a{
	transition: color 0.5s, background 0.5s;
}

#nav ul li a:hover{
	color:white;
	background:grey;
}


p.btn {
    display: table-row;
    vertical-align: bottom;
}